* {
    box-sizing: border-box;
}

body {
    background: burlywood;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.board {
    width: 600px;
}

table {
    border-collapse: separate;
}

.cell {
    height: 50px;
    width: 50px;
    background-color: cadetblue;
    cursor: pointer;
}

.notClicked span {
    display: none;
}

