body {
    background:rgb(230, 186, 171);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

h1 {
    font-size: 45px;
}

table {
    margin: auto;
    margin-bottom: 15px;
    border-collapse: separate;
}


.cell {
    height: 50px;
    width: 50px;
    padding: 15px;
    border: 1px solid #888;
    background: linear-gradient(to bottom, #ffffff, #d0d0d0);
    /* background-color: cadetblue; */
    cursor: pointer;
}

.notClicked span {
    display: none;
}

.clicked {
    padding: 15px;
    border: 1px solid #888;
    background: linear-gradient(to bottom, #969595, #e3e2e2);
    /* background-color: rgb(61, 140, 145); */
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    /* padding: 10px; */
    background-color: #f8bbbb;
    }

.clickedMine {
    background: linear-gradient(to bottom, #a1a0a0, #c42020);
}

.lives {
    background-color: coral;
    /* border-width: 0.2px;
    border: solid; */
    width: 150px;
    height: 50px;
    text-align: center;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 30px;
    background: linear-gradient(to bottom, #f8bbbb, #dc8888);
    border: 1px solid #888;
    
}

.smile-btn {
    display: block;
    cursor: pointer;
    height: 100px;
    width: 100px;
    font-size: 50px;
    margin: auto;
}

button {
    width: 150px;
    height: 60px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    padding: 15px;
    border: 1px solid #888;
    background: linear-gradient(to bottom, #ffffff, #d0d0d0);
}

.timer {
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 40px;
    padding: 15px;
    border: 1px solid #888;
    width: 150px;
    background: linear-gradient(to bottom, #f8bbbb, #dc8888);
}

.hints-container button {
    width: 60px;
}

.hinted {
    background: linear-gradient(to bottom, rgb(244, 226, 121),  #ffffff);
}

.score-tables-container td, .score-tables-container th {
    height: 50px;
    width: 100px;
    border: 1px solid #f3f0f0;
    background: linear-gradient(to bottom, #ffffff, #d0d0d0);
}

.score-tables-container table {
    border-spacing: 0;
    border: 1px solid #888;
}